version: '3.8'

services:
  # ==============================
  # BACKEND (Tu código Node)
  # ==============================
  backend:
    build: ./acquapack-erp-back  # Busca tu carpeta de código
    container_name: erp_backend_dev
    restart: always
    ports:
      - "4000:4000"
    volumes:
      - ./acquapack-erp-back:/app       # <--- ¡LA MAGIA! (Espejo)
      - /app/node_modules
      - ./documentos:/app/documentos    # <--- Carpeta para PDFs y documentos
    environment:
      # AQUÍ APUNTAS AL SERVIDOR LINUX
      - DB_HOST=100.77.172.10   # <--- IP TAILSCALE DEL SERVIDOR
      - DB_PORT=5432
      - DB_NAME=ERP_ACQ
      - DB_USER=postgres
      - DB_PASSWORD=1478
      - CORS_ORIGIN=http://localhost:8080

  # ==============================
  # FRONTEND (Tu código React)
  # ==============================
  frontend:
    build: ./acquapack-erp-front
    container_name: erp_frontend_dev
    ports:
      - "8080:8080"
    volumes:
      - ./acquapack-erp-front:/app      # <--- ¡LA MAGIA! (Espejo)
      - /app/node_modules
    environment:
      - VITE_API_URL=https://api.erp-aqp.com

# ¡NOTA QUE NO HAY SERVICIO "DB"!
# Porque usamos la del servidor Linux.